body{
    background: #24353f;
}

h1{
    color: #17a2b8;
}
.info{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.group h1 {
    color: #17a2b8;
}